:root {
  --main-color: rgb(174, 233, 225);
  --second-color: rgb(69, 131, 212);
  --font-color: black;
}

.questionContainer {
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 2rem;
  width: 30vw;
  transition: 0.1s ease;
  margin-left: 5rem;
}

.question {
  text-align: left;
}

h3 {
  font-size: 2.5rem;
}

input {
  position: relative;
  border: 1px solid var(--font-color);
  border-radius: 1rem;
  background-color: var(--main-color);
  padding: 2rem;
  margin: 0;
  width: 80%;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

#calculateBtn {
  position: relative;
  background-color: var(--main-color);
  opacity: 1;
  border: 1px solid var(--font-color);
  border-radius: 1rem;
  padding: 2rem;
  font-size: 2.5rem;
  margin: 3rem;
}

#nextBtn {
  visibility: hidden;
  pointer-events: none;
}

#answer {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 2rem;
  transition: 0.1s ease;
}

#yearsTaken {
  font-size: 5rem;
  padding: 4rem;
  color: var(--second-color);
}

#myLineChart{
  width: 100%;
}

#chart{
  width: 90%;
}

@media (max-width: 900px) {
  h3 {
    font-size: 2rem;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .questionContainer {
    width: 90%;
  }

  .container {
    height: 100%;
    width: 100%;
  }

  input {
    width: 80%;
  }

  #yearsTaken{
    font-size: 1.9rem;
  }
}
